In [2]:
import pandas as pd


df = pd.read_csv("../input/cleaned_data.csv", index_col="index")

train = df[~df["TARGET"].isnull()]
test = df[df["TARGET"].isnull()]

print(train.shape)
print(test.shape)

# test.to_csv("../input/test_cleaned.csv", index=False)
test.sample(10000, random_state=42).reset_index().to_feather("../input/test_cleaned.feather")

(307507, 782)
(48744, 782)

In [2]:
df.describe()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Sentproposal_MEAN,CC_NAME_CONTRACT_STATUS_Sentproposal_SUM,CC_NAME_CONTRACT_STATUS_Sentproposal_VAR,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
count,356251.000000,307507.00000,356251.000000,356251.000000,356251.000000,356251.000000,3.562510e+05,3.562510e+05,356215.000000,3.559730e+05,...,103558.000000,103558.000000,102866.000000,103558.000000,103558.000000,102866.000000,103558.0,103558.0,102866.0,103558.000000
mean,278128.870078,0.08073,0.660001,0.339699,0.306764,0.414312,1.701159e+05,5.877695e+05,27425.644390,5.280212e+05,...,0.000059,0.004954,0.000060,0.003583,0.106781,0.002955,0.0,0.0,0.0,37.083683
std,102842.068890,0.27242,0.473709,0.473608,0.461151,0.720376,2.235080e+05,3.986253e+05,14732.860946,3.660657e+05,...,0.000846,0.070209,0.000849,0.031014,1.272522,0.019938,0.0,0.0,0.0,33.483627
min,100001.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.000000
25%,189065.500000,0.00000,0.000000,0.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16731.000000,2.340000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,10.000000
50%,278129.000000,0.00000,1.000000,0.000000,0.000000,0.000000,1.530000e+05,5.002110e+05,25078.500000,4.500000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,22.000000
75%,367192.500000,0.00000,1.000000,1.000000,1.000000,1.000000,2.025000e+05,7.975575e+05,34960.500000,6.750000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,75.000000
max,456255.000000,1.00000,1.000000,1.000000,1.000000,20.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,...,0.024390,1.000000,0.024390,1.000000,62.000000,0.500000,0.0,0.0,0.0,192.000000

In [1]:
import pandas as pd
import shap
import mlflow
from mlflow import MlflowClient


run_id = "0cb98077b68b4bba8ea208b79cb1d2e8"
logged_model = f"runs:/{run_id}/model"

client = MlflowClient()
run = client.get_run(run_id)

IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split


df = pd.read_csv("../input/cleaned_data.csv", index_col="index")

train = df[~df["TARGET"].isnull()]

print(train.shape)

X_train, X_test, y_train, y_test = train_test_split(train.drop("TARGET", axis=1), train["TARGET"], test_size=0.01, random_state=42, stratify=train["TARGET"])

train = pd.concat([X_test, y_test], axis=1)

print(train.shape)
# test.to_csv("../input/test_cleaned.csv", index=False)
train.reset_index().to_feather("../input/valid_cleaned.feather")

(307507, 782)
(3076, 782)